*{
  margin:0;
  box-sizing: border-box;
  user-select:none;
}
.grid-layout{
  border:10px solid gray;
  width:700px;
  margin:50px auto;
  height:600px;
  display:grid;
  grid-template-rows:100px 1fr;
}
.grid-board{
  border:5px solid black;
  display:grid;
  width:400px;
  height:400px;
  margin:auto;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr
}
.header{
  display:grid;
  grid-template: 1fr 1fr / 1fr
}
button{
  font-size:60px;
}

.winner{
  position: fixed;
  height:100vh;
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:orange 5px solid;
  top:0;
  left:0;
  background-color:rgb(0,0, 0, 0.9);
  transition:1s linear;
}
.restart-btn{
  margin-top:50px;
  border-radius:100px;
  background-color:teal;
  letter-spacing: 10px;
  font-size:72px;
  width:400px;
  height:150px;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.restart-btn:hover{
background-color: goldenrod;
}
.btn-div{
  display:flex;
  justify-content: center;
}
.start-btn{
  cursor:pointer;
  margin-top:100px;
  letter-spacing: 8px;
  border-radius:10px;
  background-color:teal;
  padding:10px;
}
.start-btn:hover{
  background-color: goldenrod;
}
.winnerText{
  margin-bottom: 50px;
  font-size:120px;
  color:lightseagreen;
}
.turn{
  font-size:48px;
  margin:auto;
}
.nameInputs{
  display:flex;
  padding:10px;
  font-size:24px;
  justify-content: center;
}
input{
font-size:20px;
padding:5px;
}
.hidden{
  display:none;
 }